<section class="section-featured">
    <div class="grid-container">
    <div class="grid-x grid-margin-x">
       <div class="cell small-12">
          <header class="section-head">
             <h2 class="section-title">Proyectos en etapa de donación</h2>
             <!-- /.section-title -->
             <div class="section-image">
                <img src="./assets/img/ico-droplet.png" height="22" width="14" alt="">
             </div>
             <!-- /.section-image -->
          </header>
          <!-- /.section-head -->
          <div class="section-body">
             <div class="slider-featured">
                <div class="slider-clip">
                   <ul class="slides owl-carousel">
                      <li class="slide">
                         <div class="slide-image">
                            <img src="https://themes.wplook.com/html/charity/assets/images/temp/featured-1.jpg" height="175" width="270" alt="">
                         </div>
                         <!-- /.slide-image -->
                         <div class="slide-content">
                            <a href="#">
                               <h3>Help Childs For Education</h3>
                            </a>
                            <p>Said open land form moved air his signs moveth creepeth appear appear it. Appear living you dry our tree one. The, yielding said said give the lesser us.</p>
                         </div>
                         <!-- /.slide-content -->
                         <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         <div class="slide-foot">
                            <div class="progressbar">
                               <div class="progressbar-inner" data-progress="80"></div>
                               <!-- /.progressbar-inner -->
                            </div>
                            <!-- /.progressbar -->
                            <strong>$22,354.00</strong> / $54,700.00 <span>(51%)</span>
                         </div>
                         <!-- /.slide-foot -->
                      </li>
                      <!-- /.slide -->
                      <li class="slide">
                         <div class="slide-image">
                            <img src="https://themes.wplook.com/html/charity/assets/images/temp/featured-2.jpg" height="175" width="270" alt="">
                         </div>
                         <!-- /.slide-image -->
                         <div class="slide-content">
                            <a href="#">
                               <h3>Give Them Some Foods</h3>
                            </a>
                            <p>Him for made from without bring won't midst lesser blessed two likeness gathering second over lesser, subdue he for appear saying living moveth.</p>
                         </div>
                         <!-- /.slide-content -->
                         <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         <div class="slide-foot">
                            <div class="progressbar">
                               <div class="progressbar-inner" data-progress="65"></div>
                               <!-- /.progressbar-inner -->
                            </div>
                            <!-- /.progressbar -->
                            <strong>$56,354.00</strong> / $1,14,700.00 <span>(72%)</span>
                         </div>
                         <!-- /.slide-foot -->
                      </li>
                      <!-- /.slide -->
                      <li class="slide">
                         <div class="slide-image">
                            <img src="https://themes.wplook.com/html/charity/assets/images/temp/featured-3.jpg" height="175" width="269" alt="">
                         </div>
                         <!-- /.slide-image -->
                         <div class="slide-content">
                            <a href="#">
                               <h3>Save The Child Girls</h3>
                            </a>
                            <p> said without. Two. Appear itself herb creepeth Brought likeness male moved god yielding image for great were given isn't from can't likeness male moved.</p>
                         </div>
                         <!-- /.slide-content -->
                         <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         <div class="slide-foot">
                            <div class="progressbar">
                               <div class="progressbar-inner" data-progress="90"></div>
                               <!-- /.progressbar-inner -->
                            </div>
                            <!-- /.progressbar -->
                            <strong>$11,354.00</strong> / $24,700.00 <span>(62%)</span>
                         </div>
                         <!-- /.slide-foot -->
                      </li>
                      <!-- /.slide -->
                      <li class="slide">
                         <div class="slide-image">
                            <img src="https://themes.wplook.com/html/charity/assets/images/temp/featured-4.jpg" height="175" width="269" alt="">
                         </div>
                         <!-- /.slide-image -->
                         <div class="slide-content">
                            <a href="#">
                               <h3>Lets Build Some Homes</h3>
                            </a>
                            <p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind.</p>
                         </div>
                         <!-- /.slide-content -->
                         <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         <div class="slide-foot">
                            <div class="progressbar">
                               <div class="progressbar-inner" data-progress="80"></div>
                               <!-- /.progressbar-inner -->
                            </div>
                            <!-- /.progressbar -->
                            <strong>$56,354.00</strong> / $1,14,700.00 <span>(72%)</span>
                         </div>
                         <!-- /.slide-foot -->
                      </li>
                      <!-- /.slide -->
                      <li class="slide">
                         <div class="slide-image">
                            <img src="https://themes.wplook.com/html/charity/assets/images/temp/featured-4.jpg" height="175" width="269" alt="">
                         </div>
                         <!-- /.slide-image -->
                         <div class="slide-content">
                            <a href="#">
                               <h3>Lets Build Some Homes</h3>
                            </a>
                            <p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind.</p>
                         </div>
                         <!-- /.slide-content -->
                         <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         <div class="slide-foot">
                            <div class="progressbar">
                               <div class="progressbar-inner" data-progress="80"></div>
                               <!-- /.progressbar-inner -->
                            </div>
                            <!-- /.progressbar -->
                            <strong>$56,354.00</strong> / $1,14,700.00 <span>(72%)</span>
                         </div>
                         <!-- /.slide-foot -->
                      </li>
                      <!-- /.slide -->
                   </ul>
                   <!-- /.slides -->
                </div>
                <!-- /.slider-clip -->
                <div class="slider-actions"></div>
                <!-- /.slider-actions -->
             </div>
             <!-- /.slider-featured -->
          </div>
          <!-- /.section-body -->
       </div>
       <!-- /.cell small-12 -->
    </div>
</div>
    <!-- /.grid -->
 </section>

 <!-- /.section-featured -->
 <section class="section-featureda">
    <div class="grid-container">
       <div class="grid-x grid-margin-x">
          <div class="cell small-12">
             <header class="section-head">
                <h2 class="section-title">Proyectos exitosos</h2>
                <!-- /.section-title -->
             </header>
             <!-- /.section-head -->
             <div class="section-body">
                <div class="slider-featureda">
                   <div class="slider-clip">
                      <ul class="slides owl-carousela">
                         <li class="slide">
                            <div class="slide-image">
                               <img src="https://themes.wplook.com/html/charity/assets/images/temp/news-image.jpg" height="178" width="269" alt="">
                               <div class="slide-bar">
                                  <span>
                                  <i class="far fa-folder-open"></i> International
                                  </span>
                                  <span>
                                  <i class="far fa-calendar-alt"></i> May 7, 2018
                                  </span>
                               </div>
                               <!-- /.slide-bar -->
                            </div>
                            <!-- /.slide-image -->
                            <div class="slide-content">
                               <h3>
                                  <a href="#">Organized Food Camp for Children</a>
                               </h3>
                               <p>In over under beast seed He. Thing Second stars green there gathering living. Without greater image moving living signs fruit above heaven. Hath, behold isn't Day.</p>
                            </div>
                            <!-- /.slide-content -->
                         </li>
                         <!-- /.slide -->
                         <li class="slide">
                            <div class="slide-image">
                               <img src="https://themes.wplook.com/html/charity/assets/images/temp/news-image.jpg" height="178" width="269" alt="">
                               <div class="slide-bar">
                                  <span>
                                  <i class="far fa-folder-open"></i> International
                                  </span>
                                  <span>
                                  <i class="far fa-calendar-alt"></i> May 7, 2018
                                  </span>
                               </div>
                               <!-- /.slide-bar -->
                            </div>
                            <!-- /.slide-image -->
                            <div class="slide-content">
                               <h3>
                                  <a href="#">Organized Food Camp for Children</a>
                               </h3>
                               <p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Under them his.</p>
                            </div>
                            <!-- /.slide-content -->
                         </li>
                         <!-- /.slide -->
                      </ul>
                      <!-- /.slides -->
                   </div>
                   <!-- /.slider-clip -->
                   <div class="slider-actions"></div>
                   <!-- /.slider-actions -->
                </div>
                <!-- /.slider-featured -->
             </div>
             <!-- /.section-body -->
          </div>
          <!-- /.cell small-12 -->
       </div>
    </div>
    <!-- /.grid -->
 </section>
 <!-- /.section-featured -->
 <section class="section-testimonials">
    <header class="section-head">
       <div class="grid-container">
          <div class="grid-x grid-margin-x">
             <div class="cell small-12">
                <h2 class="section-title">Que dicen las mueres a cerca de nosotros</h2>
                <!-- /.section-title -->
                <div class="section-image">
                   <img src="./assets/img/ico-droplet.png" height="22" width="14" alt="">
                </div>
                <!-- /.section-image -->
                <p>
                   Asapromu es una organizacion que nos ayuda a emprender <br />para autosuficientes para nosotras y nuestras familias
                </p>
             </div>
             <!-- /.cell small-12 -->
          </div>
       </div>
       <!-- /.grid -->
    </header>
    <!-- /.section-head -->
 </section>
 <div class="section-body">
    <div class="slider-testimonials">
       <div class="grid-container">
          <div class="grid-x grid-margin-x">
             <div class="slider-clip cell small-12">
                <ul class="slides owl-carousel">
                   <li class="slide">
                      <div class="slide-entry">
                         <p>
                            Somos una asociación apolítica, no religiosa, que vela por el empoderamiento de la mujer, enfocándose en los valores familiares, el conocimiento de sus derechos y el desarrollo integral de la misma.
                         </p>
                      </div>
                      <!-- /.slide-entry -->
                      <div class="slide-foot">
                         <p>MISIÓN</p>
                      </div>
                      <!-- /.slide-foot -->
                   </li>
                   <!-- /.slide -->
                   <li class="slide">
                      <div class="slide-entry">
                         <p>
                            Ser una organización reconocida a nivel nacional e internacional, constructora de alianzas estratégicas para el beneficio y el desarrollo integral de las mujeres.
                         </p>
                      </div>
                      <!-- /.slide-entry -->
                      <div class="slide-foot">
                         <p>VISIÓN</p>
                      </div>
                      <!-- /.slide-foot -->
                   </li>
                   <!-- /.slide -->
                   <li class="slide">
                      <div class="slide-entry">
                         <p>
                            Respeto, Lealtad, Inclusión, Amor, Solidaridad, Honestidad, Humildad.
                         </p>
                      </div>
                      <!-- /.slide-entry -->
                      <div class="slide-foot">
                         <p>Valores</p>
                      </div>
                      <!-- /.slide-foot -->
                   </li>
                   <!-- /.slide -->
                </ul>
                <!-- /.slides -->
             </div>
             <!-- /.slider-clip -->
          </div>
       </div>
       <!-- /.grid -->
    </div>
    <!-- /.slider-testimonials -->
 </div>
 <!-- /.section-body -->
 <div class="modal fade" id="payModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Formulario de donación</h5>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-lg-12 mx-auto">
                   <!-- credit card info-->
                   <div id="credit-card" class="tab-pane fade show active pt-3">
                      <form role="form" onsubmit="event.preventDefault()">
                         <div class="form-group">
                            <label for="username">
                               <h6>Nombre</h6>
                            </label>
                            <input type="text" name="username" placeholder="Nombre de la tarjeta" required class="form-control "> 
                         </div>
                         <div class="form-group">
                            <label for="cardNumber">
                               <h6>Número de tarjeta</h6>
                            </label>
                            <div class="input-group">
                               <input type="text" name="cardNumber" placeholder="Número de tarjeta válido" class="form-control " required>
                               <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-sm-8">
                               <div class="form-group">
                                  <label>
                                     <span class="hidden-xs">
                                        <h6>Fecha de expiración</h6>
                                     </span>
                                  </label>
                                  <div class="input-group"><input 
                                     type="text" 
                                     id="inputExpDate" 
                                     placeholder="MM / YY" 
                                     maxlength='7' required> </div>
                               </div>
                            </div>
                            <div class="col-sm-4">
                               <div class="form-group mb-4">
                                  <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                     <h6>CVV</h6>
                                  </label>
                                  <input type="text" required class="form-control"> 
                               </div>
                            </div>
                         </div>
                         <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirmar pago</button>
                      </form>
                   </div>
                </div>
                <!-- End -->
             </div>
          </div>
       </div>
    </div>
 </div>
