<footer class="footer">
    <div class="footer-body">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-auto">
                    <div class="footer-section">
                        <h4 class="footer-section-title">A cerca de Asapromu</h4><!-- /.footer-section-title -->
  
                        <div class="footer-section-body">
                            <p>La Asociación Salvadoreña de Apoyo y Promoción para la mujer nace en el año dos mil once, confiriéndosele la calidad de persona jurídica e inscrita en el Registro de Asociaciones y Fundaciones son Fines de Lucro, al número 22, folios del 395 al 411, del libro 85 de Asociaciones Nacionales, en fecha veintinueve de julio de dos mil once.</p>
                        </div><!-- /.footer-section-body -->
                    </div><!-- /.footer-section -->
                </div><!-- /.cell small-12 medium-auto -->
  
                <div class="cell medium-2 medium-auto">
                    <div class="footer-section">
                        <h4 class="footer-section-title">Enlaces</h4><!-- /.footer-section-title -->
  
                        <div class="footer-section-body">
                            <ul class="list-links">
                                <li>
                                    <a href="#">Donaciones</a>
                                </li>
                                <li>
                                    <a href="#">Proyectos</a>
                                </li>
  
                            </ul><!-- /.list-links -->
  
                            
                        </div><!-- /.footer-section-body -->
                    </div><!-- /.footer-section -->
                </div><!-- /.cell small-12 medium-auto -->
  
                
  
                <div class="cell small-12 medium-auto">
                    <div class="footer-section">
                        <h4 class="footer-section-title">Contáctanos</h4><!-- /.footer-section-title -->
  
                        <div class="footer-section-body">
                            <p><b>Domicilio:</b> Ciudad de San Salvador, 4ª calle poniente y calle Delgado, contiguo a cine Metro, local 3 segunda planta, Plaza Central, atrás de Catedral Metropolitana.</p>
  
                            <div class="footer-contacts">
                                <p>
                                    <span>
                                        <i class="fas fa-phone"></i> Teléfono:
                                    </span>
  
                                    (503)70188267
                                </p>
  
                                <p>
                                    <span>
                                        <i class="far fa-envelope"></i> Correo:
                                    </span>
  
                                    <a href="#">asapromu@asapromu.org</a>
                                </p>
                            </div><!-- /.footer-contacts -->
                        </div><!-- /.footer-section-body -->
                    </div><!-- /.footer-section -->
                </div><!-- /.cell small-12 large-3 medium-12 -->
            </div>
        </div><!-- /.grid -->
    </div><!-- /.footer-body -->
  
    <div class="footer-bar">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12">
                    <div class="footer-credits">
                        <p>
                            <!-- IMPORTANT: You are not allowed to remove the footer credits, Footer Credits Must Remain in Place!
                            You can remove the Footer Credits if you buy the "Regular License".  -->
  
                            Copyright 2023. Todos los Derechos Reservados. Designed by ASAPROMU
                        </p>
                    </div><!-- /.footer-credits -->
  
                    <div class="footer-socials">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/asapromusv">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
  
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.footer-socials -->
                </div><!-- /.cell small-12 -->
            </div>
        </div>
    </div><!-- /.grid -->