<div class="main">
    <div class="main-body">
       <div class="grid-container">
          <h2 class="section-title" style="text-align: center;">NOSOTROS</h2>
          <div class="grid-x grid-margin-x">
             <div class="cell small-12 large-12">
                <div class="content">
                   <!-- /.section-title -->
                   <article class="post post-single format-gallery" itemscope itemtype="https://schema.org/BlogPosting">
                      <div class="post-image">
                         <ul class="owl-carousel">
                           
                            <li><img src="assets/img/nosotros1.jpg" height="357" width="1770" alt=""></li>
                            <li><img src="assets/img/nosotros2.jpg" height="357" width="1770" alt=""></li>
                         </ul>
                      </div>
                      <div class="post-body" style='margin-top: -100px;'>
                         <div class="entry" itemprop="articleBody">
                            <br />
                            <p>La Asociación Salvadoreña de Apoyo y Promoción para la mujer que se abrevia ASAPROMU, nace en la ciudad de Santa Tecla el seis de enero del año dos mil once, publicando sus estatutos en el diario oficial el día siete de septiembre del año dos mil once.</p>
                            <p> Consciente de la necesidad de poseer un instrumento que defina las líneas de acción y las estrategias para lograr lo objetivos en los próximos años, se presenta el Plan estratégico de la Asociación Salvadoreña de Apoyo y Promoción para la mujer. </p>
                            <br />
                            <div class="grid-x grid-margin-x">
                               <div class="cell small-12 medium-6 post-items">
                                  <h4><i class="fa fa-female"></i> Empoderamiento</h4>
                                  <p>Que las mujeres desde los dieciocho años, sin considerar las niñas por ser una población protegida integralmente por una ley especial, conozcan y exijan sus derechos, en todos los ámbitos y que les permitan un empoderamiento integral, enfocado desde los valores y el desarrollo de las mujeres.</p>
                               </div>
                               <div class="cell small-12 medium-6 post-items">
                                  <h4><i class="fa fa-bullhorn"></i> Difusión</h4>
                                  <p>Difundir el quehacer de la Asociación a nivel local, nacional e internacional.</p>
                               </div>
                               <div class="cell small-12 medium-6 post-items">
                                  <h4><i class="fa fa-certificate"></i> Promoción</h4>
                                  <p>Promover y fortalecer la organización y movilización de las mujeres por sus intereses prácticos y estratégicos.</p>
                               </div>
                               <div class="cell small-12 medium-6 post-items">
                                  <h4><i class="fas fa-flag-checkered"></i> Concertar</h4>
                                  <p>A partir de las necesidades e intereses de la Asociación concertar con organizaciones afines a nivel nacional e internacional, el trabajo que la asociación desarrolle.</p>
                               </div>
                               <div class="cell small-12 medium-6 post-items">
                                  <h4><i class="fa fa-cog"></i> Desarrollo</h4>
                                  <p>Desarrollar y ejecutar programas y proyectos orientados a la Micro Empresa, industria, agricultura, capacitaciones empresariales y vocacionales que promueven y eleven el desarrollo económico de la mujer.</p>
                               </div>
                               <div class="cell small-12 medium-6 post-items">
                                  <h4><i class="fa fa-cogs"></i> Desarrollo Integral</h4>
                                  <p>Desarrollar y ejecutar programas y proyectos de medio ambiente tales como educación ambiental, manejo y aprovechamiento de desechos solidos.</p>
                               </div>
                            </div>
                            <blockquote>
                               <p>La Asociación posee los siguientes ámbitos de actuación: </p>
                               <p>- Igualdad de género y empoderamiento de la mujer.</p>
                               <p>- Seguridad Alimentaria y medio ambiente.</p>
                               <p>- Educación para todas.</p>
                               <p>- Salud y vida sana.</p>
                               <p>- Estabilidad económica e igualdad laboral.</p>
                            </blockquote>
                         </div>
                         <!-- /.entry -->
                      </div>
                   </article>
                   <!-- /.post post-single -->
                </div>
                <!-- /.content -->
             </div>
             <!-- /.cell large-8 -->
          </div>
          <!-- /.grid -->
       </div>
       <!-- /.main-body -->
    </div>
    <!-- /.main -->
</div>