<div class="main">
    <div class="main-body">
       <div class="grid-container">
          <div class="grid-x grid-margin-x">
             <div class="cell small-12 large-12">
                <div class="content">
                   <h2 class="section-title">DONACIONES</h2>
                   <!-- /.section-title -->
                   <div class="cause">
                      <div class="cause-image">
                         <a href="#">
                         <img src="https://themes.wplook.com/html/charity/assets/images/temp/cause-image-2.jpg" height="357" width="770" alt="">
                         </a>
                         <div class="cause-tag">Urgent</div>
                         <!-- /.cause-tag -->
                      </div>
                      <!-- /.cause-image -->
                      <div class="cause-body">
                         <div class="cause-head">
                            <h3 class="cause-title">Change a Life Through Education</h3>
                            <!-- /.cause-title -->
                            <span>For Children</span>
                         </div>
                         <!-- /.cause-head -->
                         <div class="cause-entry">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan elit viverra, placerat dolor quis, pulvinar velit. Sed auctor lacus eu purus .</p>
                         </div>
                         <!-- /.cause-entry -->
                         <div class="progressbar">
                            <div class="progressbar-inner" data-progress="84">
                               <span>84.00%</span>
                            </div>
                            <!-- /.progressbar-inner -->
                         </div>
                         <!-- /.progressbar -->
                         <div class="cause-foot">
                            <div class="cause-foot-content">
                               <span>
                               <i class="far fa-heart"></i> 17 Sponsors
                               </span>
                            </div>
                            <!-- /.cause-foot-content -->
                            <div class="cause-foot-aside">
                               <strong>$56,354.00</strong> / $80,700.00
                            </div>
                            <!-- /.cause-foot-aside -->
                         </div>
                         <!-- /.cause-foot -->
                         <div class="cause-actions">
                            <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         </div>
                         <!-- /.cause-actions -->
                      </div>
                      <!-- /.cause-body -->
                   </div>
                   <!-- /.cause -->
                   <div class="cause">
                      <div class="cause-image">
                         <a href="#">
                         <img src="https://themes.wplook.com/html/charity/assets/images/temp/cause-image-1.jpg" height="357" width="770" alt="">
                         </a>
                      </div>
                      <!-- /.cause-image -->
                      <div class="cause-body">
                         <div class="cause-head">
                            <h3 class="cause-title">Protect Animals</h3>
                            <!-- /.cause-title -->
                            <span>For Animals</span>
                         </div>
                         <!-- /.cause-head -->
                         <div class="cause-entry">
                            <p>Forth fruit beginning life likeness dry day from one rule it earth isn't sea fourth. Doesn't you're they're herb moved he female wherein shall upon.</p>
                         </div>
                         <!-- /.cause-entry -->
                         <div class="progressbar">
                            <div class="progressbar-inner" data-progress="11">
                               <span>11.00%</span>
                            </div>
                            <!-- /.progressbar-inner -->
                         </div>
                         <!-- /.progressbar -->
                         <div class="cause-foot">
                            <div class="cause-foot-content">
                               <span>
                               <i class="far fa-heart"></i> 12 Sponsors
                               </span>
                            </div>
                            <!-- /.cause-foot-content -->
                            <div class="cause-foot-aside">
                               <strong>$14,354.00</strong> / $124,700.00
                            </div>
                            <!-- /.cause-foot-aside -->
                         </div>
                         <!-- /.cause-foot -->
                         <div class="cause-actions">
                            <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         </div>
                         <!-- /.cause-actions -->
                      </div>
                      <!-- /.cause-body -->
                   </div>
                   <!-- /.cause -->
                   <div class="cause">
                      <div class="cause-image">
                         <a href="#">
                         <img src="https://themes.wplook.com/html/charity/assets/images/temp/cause-image-3.jpg" height="357" width="770" alt="">
                         </a>
                      </div>
                      <!-- /.cause-image -->
                      <div class="cause-body">
                         <div class="cause-head">
                            <h3 class="cause-title">Give Them Education</h3>
                            <!-- /.cause-title -->
                            <span>For Kids</span>
                         </div>
                         <!-- /.cause-head -->
                         <div class="cause-entry">
                            <p>You their kind void. Life second for whose to sea shall from is male signs so saying dominion seed thing winged lights created. Second fruitful give herb.</p>
                         </div>
                         <!-- /.cause-entry -->
                         <div class="progressbar">
                            <div class="progressbar-inner" data-progress="45">
                               <span>45.00%</span>
                            </div>
                            <!-- /.progressbar-inner -->
                         </div>
                         <!-- /.progressbar -->
                         <div class="cause-foot">
                            <div class="cause-foot-content">
                               <span>
                               <i class="far fa-heart"></i> 9 Sponsors
                               </span>
                            </div>
                            <!-- /.cause-foot-content -->
                            <div class="cause-foot-aside">
                               <strong>$21,354.00</strong> / $44,300.00
                            </div>
                            <!-- /.cause-foot-aside -->
                         </div>
                         <!-- /.cause-foot -->
                         <div class="cause-actions">
                            <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         </div>
                         <!-- /.cause-actions -->
                      </div>
                      <!-- /.cause-body -->
                   </div>
                   <!-- /.cause -->
                   <div class="cause">
                      <div class="cause-image">
                         <a href="#">
                         <img src="https://themes.wplook.com/html/charity/assets/images/temp/cause-image-4.jpg" height="357" width="770" alt="">
                         </a>
                      </div>
                      <!-- /.cause-image -->
                      <div class="cause-body">
                         <div class="cause-head">
                            <h3 class="cause-title">Let’s build something incredible</h3>
                            <!-- /.cause-title -->
                            <span>For Human</span>
                         </div>
                         <!-- /.cause-head -->
                         <div class="cause-entry">
                            <p>Them behold man cattle seas. The cattle lights give without. May there spirit cattle lesser his I set night beginning rule, place multiply I beginning.</p>
                         </div>
                         <!-- /.cause-entry -->
                         <div class="progressbar">
                            <div class="progressbar-inner" data-progress="62">
                               <span>61.00%</span>
                            </div>
                            <!-- /.progressbar-inner -->
                         </div>
                         <!-- /.progressbar -->
                         <div class="cause-foot">
                            <div class="cause-foot-content">
                               <span>
                               <i class="far fa-heart"></i> 45 Sponsors
                               </span>
                            </div>
                            <!-- /.cause-foot-content -->
                            <div class="cause-foot-aside">
                               <strong>$56,354.00</strong> / $1,14,700.00
                            </div>
                            <!-- /.cause-foot-aside -->
                         </div>
                         <!-- /.cause-foot -->
                         <div class="cause-actions">
                            <button type="button" class="button button-blue" data-bs-toggle="modal" data-bs-target="#payModal">Donate Now</button>
                         </div>
                         <!-- /.cause-actions -->
                      </div>
                      <!-- /.cause-body -->
                   </div>
                   <!-- /.cause -->
                </div>
                <!-- /.pagination-centered -->
             </div>
             <!-- /.content -->
          </div>
          <!-- /.cell large-8 -->
       </div>
    </div>
    <!-- /.grid -->
 </div>
 <!-- /.main-body -->
 <div class="modal fade" id="payModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Formulario de donación</h5>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-lg-12 mx-auto">
                   <!-- credit card info-->
                   <div id="credit-card" class="tab-pane fade show active pt-3">
                      <form role="form" onsubmit="event.preventDefault()">
                         <div class="form-group">
                            <label for="username">
                               <h6>Nombre</h6>
                            </label>
                            <input type="text" name="username" placeholder="Nombre de la tarjeta" required class="form-control "> 
                         </div>
                         <div class="form-group">
                            <label for="cardNumber">
                               <h6>Número de tarjeta</h6>
                            </label>
                            <div class="input-group">
                               <input type="text" name="cardNumber" placeholder="Número de tarjeta válido" class="form-control " required>
                               <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i class="fab fa-cc-amex mx-1"></i> </span> </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-sm-8">
                               <div class="form-group">
                                  <label>
                                     <span class="hidden-xs">
                                        <h6>Fecha de expiración</h6>
                                     </span>
                                  </label>
                                  <div class="input-group"><input 
                                     type="text" 
                                     id="inputExpDate" 
                                     placeholder="MM / YY" 
                                     maxlength='7' required> </div>
                               </div>
                            </div>
                            <div class="col-sm-4">
                               <div class="form-group mb-4">
                                  <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                     <h6>CVV</h6>
                                  </label>
                                  <input type="text" required class="form-control"> 
                               </div>
                            </div>
                         </div>
                         <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirmar pago</button>
                      </form>
                   </div>
                </div>
                <!-- End -->
             </div>
          </div>
       </div>
    </div>
 </div>